<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewPort" content="width=device-width, initial-scale=1.0"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="google-site-verification" content=""/>
  <meta name="baidu-site-verification" content=""/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="user-identification" content="management" />
  <link rel="icon" type="image/x-icon" href="/logo.ico"/>
  <link rel="shortcut" href="/logo.ico"/>
  <link rel="apple-touch-icon" href="/logo.ico"/>
  <link rel="icon" href="/logo.ico"/>
  <meta http-equiv="windows-Target" contect="_top"/>
  <meta name="Robots" contect="all"/>
  <title>后台管理</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>