doctype html
html
	head
		title hello jade
		style(type='text/css').
			h1 {color: #3385ff}
		script(type='text/javascript').
			document.writeln('jade');
	body
		h1 hello jade
		#test-div.red-border(style='border: 1px solid red') test-div
		p
			strong 这才是强调
			|1. aa
			span 这是强调
			|2. bb
			|3. cc